 body {
 	background-color:#724788;
 	color: white;
 }

 .enyo-input-input{
 	color: white;
 }

.enyo-button {
	width: 28px;
	height: 28px;
}

.enyo-button-icon {
	vertical-align: middle;
	text-align: center;
}

#app_title {
	text-align: center;
	font-size: xx-large;
	font-weight: bold;
}

#app_iconImage {
 	width:150px; /* you can use % */
    height: auto;
 }

 #app_lastCheckedLabel {
 	font-size: small;
 }

 #app_scoreLabel {
 	font-weight: bold;
 	font-size: x-large;
 }

 #app_statusLabel {
 	margin-left: 5px;
 }

 #app_scoreField {
 	width: 150px;
 }